* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  }

/* Navbar */
 .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 50px;
      border-bottom: 1px solid #ddd;
      background: white;
    }

    .logo {
      font-weight: bold;
      font-size: 20px;
    }

    .logo span {
      color: #555;
      font-weight: normal;
    }

    .nav-links {
      display: flex;
      gap: 25px;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .nav-links a {
      text-decoration: none;
      color: #333;
      font-size: 14px;
    }
    .nav-links a:hover {
      color: #6c63ff;
      text-decoration: underline;
    }
